<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<%= form_with url: session_path, class: "panel" do |form| %>
  <div class="flex flex-column gap">
    <div>
      <%= form.email_field :email_address,
                       required: true,
                       autofocus: true,
                       autocomplete: "username",
                       placeholder: "Enter your email address",
                       value: params[:email_address],
                       class: "input" %><br>
    </div>
    <div>
      <%= form.password_field :password,
                          required: true,
                          autocomplete: "current-password",
                          placeholder: "Enter your password",
                          maxlength: 72,
                          class: "input" %><br>
    </div>
    <%= form.submit "Sign in", class: "btn" %>
  </div>
<% end %>
<br>

<el-dropdown>
  <button type="button" class="btn">Options</button>
  <el-menu anchor="bottom start" popover>
    <button class="focus:bg-gray-100" type="button">Edit</button>
    <button class="focus:bg-gray-100" type="button">Duplicate</button>
    <hr role="none">
    <button class="focus:bg-gray-100" type="button">Archive</button>
    <button class="focus:bg-gray-100" type="button">Delete</button>
  </el-menu>
</el-dropdown>

<%= link_to "Forgot password?", new_password_path %>
